...oles/inmotionhosting.apache/templates/etc/httpd/conf.d/status.conf.j2        
# {{ template_destpath }}
# {{ ansible_managed }}
CPU: {{ ansible_facts.processor }}
RAM: {{ ansible_facts.memtotal_mb }}
HDD: {{ ansible_facts.mounts.0.device }} {{ansible_facts.mounts.0.size_total}}
IP: {{ ansible_facts.default_ipv4.address }}

<IfModule status_module>
    <Location /server-status>
        SetHandler server-status
        Order deny,allow
        Deny from all
        Allow from 127.0.0.1
    </Location>
</IfModule>

